.post{
    background: var(--gray_800);
    border-radius: 8px;
    padding: 3rem;
    max-width: 84rem;;
}

.post + .post{
    margin-top: 2.5rem;
}

.post > header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.post > header time{
    font-size: 1.4rem;
    color:var(--gray_400)
}

.content{
    line-height: 1.6;
    color: var(--gray_300);
    margin-top: 2rem;
}

.content p{
    margin-top: 1.6rem;
}

.content a{
    font-weight: bold;
    color: var(--green_500);
}

.content a:hover{
    color:var(--green_300);
}

.author{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.authorInfo{
    display: flex;
    flex-direction: column;
}

.authorInfo strong{
    display: block;
    color:var(--gray_100);
    line-height: 1.6;
  
}


.authorInfo span{
    display: block;
    color:var(--gray_400);
    line-height: 1.6;
    font-size: 1.6rem;
}

.avatar{
    box-sizing: initial;
    width: 5rem;
    height: 5rem;
    border-radius: .8rem;
    border: 4px solid var(--gray_800);
    outline: 2px solid var(--green_500);
    margin-bottom: 10px;
}

.comments{
    width: 100%;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 1px solid var(--gray_600);  
}

.comments footer{
    visibility: hidden;
    max-height: 0;
}

.comments:focus-within footer{
    visibility: visible;
    max-height: none;

}

.comments > strong{
    line-height: 1.6;
    color: var(--gray_100);
}

.comments textarea{
    width: 100%;
    background: var(--gray_900);
    border: 0;
    resize: none;
    height: 7rem;
    padding: 1.6rem;
    border-radius: 10px;
    color: var(--gray_100);
    margin-top: 1.6rem;
}

.comments button[type=submit]{
    padding: 1.6rem 2rem;
    margin-top:1.6rem;
    border-radius: 8px;
    border: none;
    background: var(--green_500);
    font-weight: bold;
    color:var(--white);
}

.comments button:hover{
    background: var(--green_300);
}









